<li class="control-group nested-fields">
  <div class="controls">

    <%= f.text_field :measurement_amount, placeholder: "0", autofocus: true %>

    <%= f.text_field :measurement_unit, value: "oz" %>
 
    <%= f.fields_for :ingredient do |dr_ingredient| %>
      <%= dr_ingredient.text_field :name, placeholder: "ingredient name" %>
    <% end %>
 
    <%= link_to_remove_association "remove", f %>
  </div>
</li>