<% action = (flag === :new) ? drinks_url : drink_url %>
<% method = (flag === :new) ? "POST" : "PATCH" %>
<% message = (flag === :new) ? "Create Drink" : "Edit Drink" %>

<form action="<%= action %>" method="post">
	<input type="hidden" value="<%= method %>" name="_method">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label>Name: 
		<input type="text" name="drink[name]" value="<%= @drink.name %>">
	</label>
	<br>

	<label>Description: 
		<input type="text" name="drink[description]" value="<%= @drink.description %>">
	</label>
	<br>

	<input type="submit" value="<%= message %>">
</form>
	