<h1>Listing drinks</h1>

<%= form_tag drinks_url, :method => 'get', :id => "drinks_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="drinks"><%= render 'drinks' %></div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "user_id", "User" %></th>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "description", "Description" %></th>
      <th><%= sortable "average", "Rating" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <%= render drink %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @drinks %>