<div class="container">
<h4 text-align="right">this is right text</h4>
<table class="table">
  <thead>
    <tr>
      <th><%= sortable "user_id", "User" %></th>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "recipe", "Recipe" %></th>
      <th><%= sortable "average", "Rating" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <%= render drink %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @drinks %>
</div>