<h1>Listing drinks</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "user_id", "User" %></th>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "description", "Description" %></th>
      <th><%= sortable "average", "Rating" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <%= render drink %>
    <% end %>
  </tbody>
</table>