<script>
$(function () {
  $('#edit-section').hide(); //Initially form wil be hidden.
	
	$('#add-review').click(function() {
   	$('#edit-section').show();//Form shows on button click
		$('#previously-edited').hide(); //Initially form wil be hidden.
		debugger
   });

	$('#add-review2').click(function() {
   	$('#edit-section').show();//Form shows on button click
   	$('#previously-edited').hide();
   });

	$("[rel='tooltip']").tooltip();    
 
    $('#hover-cap-4col .thumbnail').hover(
        function(){
            $(this).find('.caption').fadeIn(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').fadeOut(250); //.fadeOut(205)
        }
    );  
    
 });
</script>
<% section_name = (logged_in? && current_user.vote_count(@drink) >= 1) ? "edit-section" : "reviews-section" %>

<div class="container" style="border: 3px solid #2a9fd6">
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1">

			<!-- Photo -->
			<center>
				<h1><strong><%= @drink.name %></strong></h1>
				<h4>"<%= @drink.logline %>"</h4>
				<% unless @drink.filepicker_url == "" || @drink.filepicker_url.nil? %>
					<%= link_to (filepicker_image_tag @drink.filepicker_url, w: 500, fit: 'clip'), @drink.filepicker_url, :target => "_blank" %>
					<%#= filepicker_save_button "Download Image", @drink.filepicker_url, "image/png", class: "btn btn-primary" %>
				<% end %>
			</center>
		</div>

		<!-- Average Rating / Vote Count / Favorite -->
		<div class="col-xs-5 col-xs-offset-1">
			<div>
				<h2 align="center">Average Rating: <%= @drink.average %>
					<br>	
					<% @drink.average.floor.times do %>
						<i class="fa fa-star main-color"></i>
					<% end %>
						
					<% remainder = @drink.average %>
			
					<% while remainder >= 1 %>
						<% remainder -= 1 %>
					<% end %>

					<% if remainder >= 0.5 %>
						<i class="fa fa-star-half-empty main-color"></i>
					<% end %>

					<% (5 - @drink.average.ceil).times do %>
						<i class="fa fa-star-o main-color"></i>
					<% end %>
			
					<% if remainder < 0.5  && remainder > 0 %>
						<i class="fa fa-star-o main-color"></i>
					<% end %>

					<small><%= @drink.comments.count %> votes</small>
				</h2>
				<center>
					<% if section_name == "edit-section" %>
						<a href="#reviews" class="btn btn-primary btn-lg" id="add-review"><i class="fa fa-edit"></i> Edit Review</a>
					<% else %>
						<a href="#reviews" class="btn btn-primary btn-lg"><i class="fa fa-star-o"></i> Write a Review</a>
					<% end %>
					
					<%= render 'pinterest' %>
					<%= tweet_button %>
					<%= render 'shared/facebook' %>

					<%#= render 'favorite_form' %>
				</center>
			</div>
			<hr>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#drink_recipe_tab" data-toggle="tab">Recipe</a></li>
			  <li><a href="#drink_reviews_tab" data-toggle="tab">Reviews (<%= @drink.comments.count %>)</a></li>
			  <li><a href="#drink_related_tab" data-toggle="tab">Similar Drinks</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane active" id="drink_recipe_tab">
			  	<%= render 'drink_recipe' %>
			  </div>
			  <div class="tab-pane" id="drink_reviews_tab">
					<%= render "all_reviews" %>
			  </div>
			  <div class="tab-pane" id="drink_related_tab">
			  	<%= render 'related_drinks' %>
			  </div>
			</div>
		</div>
	</div>
	<!-- end top section -->
	<hr>

	<!-- comments etc -->
	<div class="container col-xs-12">
		<% if section_name == "edit-section" %>
			<h2>My review</h2>
			<div class="row well" id="previously-edited">
				
				<div class="col-xs-6 col-xs-offset-1">
					<%= @drink.comments.find_by_author_id(current_user.id).body %><br>
					<% @drink.comments.find_by_author_id(current_user.id).rating.times do %>
							<i class="fa fa-star main-color"></i>
					<% end %>
				</div>
				<div class="col-xs-4">
					<a class="btn btn-primary btn-lg" id="add-review2"><i class="fa fa-edit"></i> Edit Review</a>
					<a class="btn btn-danger btn-lg" data-method="delete" href="<%= comment_url(@drink.comments.find_by_author_id(current_user.id)) %>" rel="nofollow"><i class="fa fa-ban"></i> Delete Review</a>
				</div>

			</div>
		<% end %>

		<div id="<%= section_name %>">
			<a id="reviews"></a>
			<% if logged_in? && current_user.id == @drink.user_id %>
				Sorry, you cannot review your own drink!
			<% elsif logged_in? && current_user.vote_count(@drink) < 1 %>
				<%= render "shared/comments_form", commentable_id: @drink.id, commentable_type: "Drink", :flag => :new %>
			<% elsif logged_in? && current_user.vote_count(@drink) >= 1 %>
				<%= render "shared/comments_form", commentable_id: @drink.id, commentable_type: "Drink" %>
			<% else %>
				<!-- show gray'ed out form here instead -->
				Please <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-window">Log In</button> to post a review. <br />
				In a hurry?
				<form action="<%= users_url %>" method="post">
	              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	              <input type="hidden" name="user[email]" value="<%= "guest-" + Faker::Name.first_name.to_s + "-" + rand(10000).to_s %>">
	              <input type="hidden" name="user[password]" value="password">
	              <input type="submit" value="Log In As Guest" class="btn btn-success btn-sm">
	      </form>
			<% end %>
		</div>
  </div> 
</div>

	<%= link_to "back", drinks_url %>

	<% if logged_in? && current_user.id == @drink.user_id %>
		<%= link_to 'Edit', edit_drink_path(@drink) %>
	<% end %>