<div class="container" style="border: 3px solid #2a9fd6">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-1">

			<!-- Photo -->
			<center>
				<h1><strong><%= @drink.name %></strong></h1>
				<h4>"<%= @drink.logline %>"</h4>
				<% unless @drink.filepicker_url == "" || @drink.filepicker_url.nil? %>
					<%= link_to (filepicker_image_tag @drink.filepicker_url, w: 500, fit: 'clip'), @drink.filepicker_url, :target => "_blank" %>
					<%#= filepicker_save_button "Download Image", @drink.filepicker_url, "image/png", class: "btn btn-primary" %>
				<% end %>
			</center>
		</div>

		<!-- Average Rating / Vote Count / Favorite -->
		<div class="col-xs-5">
			<div>
				<h2 align="center">Average Rating: <%= @drink.average %>
					<br>	
					<% @drink.average.floor.times do %>
						<i class="fa fa-star main-color"></i>
					<% end %>
					
						
					<% remainder = @drink.average %>
			
					<% while remainder >= 1 %>
						<% remainder -= 1 %>
					<% end %>

					<% if remainder >= 0.5 %>
						<i class="fa fa-star-half-empty main-color"></i>
					<% end %>

					<% (5 - @drink.average.ceil).times do %>
						<i class="fa fa-star-o main-color"></i>
					<% end %>
			
					<% if remainder < 0.5  && remainder > 0 %>
						<i class="fa fa-star-o main-color"></i>
					<% end %>

					<small><%= @drink.comments.count %> votes</small>
				</h2>
				<center>
					<a href="#reviews" class="btn btn-primary btn-lg"><i class="fa fa-star-o"></i> Write a Review</a>
					
					<%= render 'pinterest' %>
					<%= tweet_button %>
					<%= render 'shared/facebook' %>

					<%#= render 'favorite_form' %>
				</center>
			</div>
			<hr>

			<!-- Ingredients -->
			<table class="table" style="border: none">
				<h3 align="right" style="padding-bottom: 5px">featuring</h3>
				<% @drink.drink_ingredients.each do |di| %>
					<tr>

						<% unless di.ingredient_id.nil? %>
							<% parent_drink = Ingredient.find(di.ingredient_id) %>
							<td width="50%" style="text-align:right">
								<%= di.measurement_amount %> <%= di.measurement_unit %>
							</td>
							<td style="text-align:right">
								<%= link_to parent_drink.name, drinks_url(search: parent_drink.name) %>
							</td>
						<% end %>
					</tr>
					<% end %>
			</table>
			<hr>

			<!-- Recipe -->
			<p><h2>make me</h2>
				<%= simple_format(@drink.recipe) %>
			</p>
			<p>
				Submitted by: <%= link_to User.find(@drink.user_id).email, user_url(@drink.user_id) %>
			</p>
		</div>
	</div>
	<!-- end top section -->
	<hr>
	
	<!-- comments etc -->
	<div>
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
		  <li><a href="#profile" data-toggle="tab">Profile</a></li>
		  <li><a href="#messages" data-toggle="tab">Messages</a></li>
		  <li><a href="#settings" data-toggle="tab">Settings</a></li>
		</ul>

		<div class="tab-content">
		  <div class="tab-pane active" id="home">...</div>
		  <div class="tab-pane" id="profile">...</div>
		  <div class="tab-pane" id="messages">...</div>
		  <div class="tab-pane" id="settings">...</div>
		</div>
	</div>

	<div style="border: 2px dashed black">
		<!-- review input -->
		<a id="reviews"></a>
		<h1>Reviews</h1>
		<% if logged_in? && current_user.id == @drink.user_id %>
			Sorry, no reviewing your own drink!
		<% elsif logged_in? && current_user.vote_count(@drink) < 1 %>
			<%= render "shared/comments_form", commentable_id: @drink.id, commentable_type: "Drink", :flag => :new %>
		<% elsif logged_in? && current_user.vote_count(@drink) >= 1 %>
			<%= render "shared/comments_form", commentable_id: @drink.id, commentable_type: "Drink" %>
		<% else %>
			<!-- show gray'ed out form here instead -->
			You must be logged in to post a review
		<% end %>


		<!-- review section -->
		<%= render "wall" %>
	</div>

</div>

	<%= link_to "back", drinks_url %>

	<% if logged_in? && current_user.id == @drink.user_id %>
		<%= link_to 'Edit', edit_drink_path(@drink) %>
	<% end %>


<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>