<% action = (flag == :new) ? users_url : user_url(user) %>
<% method = (flag == :new) ? "POST" : "PATCH" %>
<% message = (flag == :new) ? "Sign Up" : "Edit User" %>

<h1><%= message %></h1>
<hr>

<form action="<%= action %>" method="post">
	<input type="hidden" name="_method" value="<%= method %>">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<div class="input-group">
	  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
	  <input autofocus="true" type="text" class="form-control" name="user[email]" placeholder="Enter Email">
	</div>
	
	<br>

	<div class="input-group">
	  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
	  <input type="password" class="form-control" name="user[password]" placeholder="Enter Password">
	</div>
	
	<br>

	<input type="submit" value="<%= message %>" class="btn btn-primary">
</form>