<div class="container">
	<% provide(:title, @user.email) %>
	<div class="row">
		<aside class="col-xs-4">
			<section>
				<h1>
				  <%= gravatar_for @user %>
				  <%= @user.email %>
				  <br>
				  <% if current_user == @user %>
					  <span><%= link_to "Edit Profile", edit_user_url(@user) %></span>
				  <% end %>
		      <%= render 'follow_form' if logged_in? %>
				</h1>
			</section>
			<section>
				<%= render 'stats' %>
			</section>
		</aside>

		<div class="col-xs-8">
			<div id="favorite-drinks">
				<%= render "favoritedrinks" %>
			</div>

			<div>
				<h2>My Comments Wall</h2>
				<ul>
					<% @user.comments.each do |comment| %>
						<li><%= comment.body %></li>
					<% end %>
				</ul>
				<hr>
				<%= render "shared/comments_form", commentable_id: @user.id, commentable_type: "User" %>
			</div>
	  </div>
	</div>
</div>
