<div class="container">
	<% provide(:title, @user.email) %>
	<div class="row">
		<aside class="col-xs-4">
			<section>
				<h1>
				  <%= gravatar_for @user %>
				  <%= @user.email %>
				  <p ></p>
		      <%= render 'follow_form' if logged_in? %>
				</h1>
			</section>
			<section>
				<ul class="nav nav-pills nav-stacked">
				  <li class="active"><a href="#favorite-drinks" data-toggle="tab"><i class="fa fa-heart fa-fw"></i>
				  	Favorite Drinks (<%= @user.favorite_drinks.count %>)</a></li>
			  <li><a href="#submitted-drinks" data-toggle="tab"><i class="fa fa-tag fa-fw"></i>
			  		Submitted Drinks (<%= @user.drinks.count %>)</a></li>
			  <li><a href="#following" data-toggle="tab"><i class="fa fa-twitter fa-fw"></i>
			  		Following (<%= @user.followed_users.count %>)</a></li>
			  <li><a href="#followers" data-toggle="tab"><i class="fa fa-twitter fa-fw"></i>
			  		Followers (<%= @user.followers.count %>)</a></li>
				</ul>
			</section>
		</aside>

		<div class="col-xs-8">

			<!-- Tab panes -->
			<div class="tab-content" style="margin-top:20px">
			  <div class="tab-pane active" id="favorite-drinks">
			  	<%= render 'favorite_drinks' %>
			  </div>
			  <div class="tab-pane" id="submitted-drinks">
			  	<%= render "submitted_drinks" %>
			  </div>
			  <div class="tab-pane" id="following">
			  	<%= render 'following' %>
			  </div>
			  <div class="tab-pane" id="followers">
			  	<%= render 'followers' %>
			  </div>
			</div>

	  </div>
	</div>
</div>
