<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="current_user" id="current-user-id" value="<%= current_user.id if logged_in? %>">
</head>
<body>

<%= render 'layouts/header' %>
<%= render 'layouts/errors' %>
<%= render 'sessions/form', :flag => :new %>
<%= render 'users/form', :flag => :new  %>
<%= yield %>

</body>
</html>
