<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= filepicker_js_include_tag %>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <link rel="icon" type="image/ico" href="https://s3-us-west-1.amazonaws.com/hipsterdrinks/icon.ico"/>
	  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	  <meta name="current_user" id="current-user-id" value="<%= current_user.id if logged_in? %>">
	</head>
	<body>
		<%= render 'layouts/facebook_js_load' %>
		
		<%= render 'layouts/header' %>
		<%= render 'layouts/errors' %>
		<%= render 'sessions/form', :flag => :new %>
		<%= render 'users/form', :flag => :new  %>
		<%= render 'drinks/modal' %>

		<%= yield %>
		<%#= render 'layouts/footer' %>
		<%= render 'layouts/typeahead' %>
	</body>
</html>
